* {
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    --purple: #e0f;
    --purpleAccent: #80a;
    --light: #ccc;
    --subtle: #888;
    --blue: rgb(85, 215, 255);
    --spacing: 20px;
}

body {
    background: #0c0c0c;
    color: var(--light);
    margin: 0 auto;
    max-width: 800px;
    /* display: grid;
    grid-template-columns: 200px 1fr; */
    /* height: 100vh;
    align-content: start; */
}

/* header {
    grid-column: span 2;
    background: #222;
    height: 50px;
}
.contents {
    padding: 10px 0;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
}
.toc {
    background: #161616;
}
.toc ul {
    padding: 0;
    margin: 0;
}
.toc li {
    list-style-type: none;
    background-color: transparent;
    padding: 5px 20px;
    transition: all 0.15s ease-in-out;
}
.toc li:hover {
    background: var(--purpleAccent);
    color: #111;
    cursor: pointer;
} */

main {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing) 0;
    /* overflow-y: scroll; */
}

h1 {
    margin: 0 var(--spacing);
    line-height: 1em;
    font-size: 1.7rem;
    color: var(--purple);
    border-bottom: 3px solid var(--purpleAccent);
}

h2 {
    font-size: 1.3rem;
    color: var(--blue);
}

h2,h3,h4 {
    margin: 2em 0 0;
    line-height: 1em;
}
p {
    margin: 0.75em 0 0;
}

a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #444;
    transition: all 0.25s;
}
a:visited {
    color: var(--purpleAccent);
}
a:hover {
    color: var(--blue);
    border-color: white;
}

.links {
    color: var(--subtle);
}

.searchbar {
    margin: 0 var(--spacing) 0.5em;
}
.searchbar > i {
    position: absolute;
    padding: 0.1em 0 0 0.4em;
    font-size: 1.35rem;
}
input {
    width: 100%;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: var(--light);
    padding: 0.2em;
    padding-left: 1.6em;
    outline: none;
    border-bottom: 4px solid #444;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    
    transition: all 0.2s;
}
input:hover {
    background-color: rgba(255,255,255,0.06);
}

input:focus {
    color: var(--purple);
    border-color: var(--purpleAccent);
}

.results {
    grid-column: span 2;
    font-style: italic;
    margin: 0 var(--spacing);
}

.glossary {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem 1rem;
    align-items: start;
    
}

.glossary > h2 {
    padding: 0.5rem;
    margin: 0 var(--spacing);
}

.exact {
    color: hsl(51, 100%, 50%);
    padding: 1em 0;
    margin: 1em 0;
    background: hsl(43, 100%, 7%);
}

.terms {
    border-left: 2px solid #555;
    padding-left: 1rem;
    margin: 0 var(--spacing);
    height: 100%;
}
.terms > p {
    text-indent: -1rem;
    margin-left: 1rem;
}
.terms > :first-child {
    margin-top: 0;
}

.waza {
    font-size: 0.8em;
    background: var(--purpleAccent);
    color: white;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
}
.waza.ashi-waza {
    background: hsl(0, 100%, 30%);
}
.waza.koshi-waza {
    background: hsl(45, 100%, 17%);
}
.waza.te-waza {
    background: hsl(90, 100%, 15%);
}
.waza.ma-sutemi-waza {
    background: hsl(135, 100%, 25%);
}
.waza.yoko-sutemi-waza {
    background: hsl(180, 100%, 20%);
}
.waza.osaikomi-waza {
    background: hsl(225, 100%, 40%);
}
.waza.shime-waza {
    background: hsl(270, 100%, 30%);
}
.waza.kansetsu-waza {
    background: hsl(315, 100%, 25%);
}

.fadein {
    animation: fadein 0.5s;
    transform-origin: top;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@media screen and (max-width: 1000px) {
    body {
        display: block;
    }
    .glossary {
        display: block;
    }
    .glossary > h2 {
        margin-top: 1.5em;
        padding: 0;
        border-bottom: 2px solid #555;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .terms {
        border-left: none;
        padding-left: 0;
    }
}